.App {
  text-align: center;
}

.ant-row {
    margin-bottom: 20px;
}

.ant-row:first-child {
    margin-top: 20px;
    text-align: start;
}

.ant-row:first-child div:last-child {
    text-align: end;
}